*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Pano Regular;
    
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    padding: 20px 50px;
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}
#bg{
    height: 100%;
    width: 100%;
    background-color: blue;
    background-image: url(bbg.png);
    background-size: cover;
    background-position: center;
}
#nav{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    /* background-color: blueviolet; */
}
#nav #left{
    background-image: url(logonav.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
height: 100%;
width: 10%;
/* background-color: brown; */
}
#nav #right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100%;
    width: 50%;
    /* background-color: brown; */
    }
#nav #right h4{
    font-family:Pano Regular;
    font-weight: 800;
}
#wh{
    align-items: center;
    display: flex;
    color: white;
}
#sm{
    height: 30px;
    width: 30px;
    /* background-color: rgb(151, 71, 255); */
    background-image: url(smiley.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.page-title {
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 800;
    color: #222;
    line-height: 1em;
    /* font-family: MonumentExtended,sans-serif; */
    font-size: 70px;
    text-transform: uppercase;
}
#tapecont {
    /* background-color: violet; */
    height: 20%;
    width: 55%;
    position: absolute;
    bottom: 43%;
    left: 7%;
    z-index: 2;
    transform: translate(-10%,75%) rotate(
-5deg);
background-image: url(tape.png);
background-size: cover;
background-position: left;
opacity: 0.9;
display: flex;
    align-items: center;
    justify-content: center;
}
#tapecont #txt{
    margin-left: 20px;
    text-align: center;
    
    /* height: 100%;
    width: 100%; */
    /* background-color: violet; */
    font-weight: 800;
    color: rgb(253, 253, 253);
    line-height: 1em;
    /* font-family: MonumentExtended,sans-serif; */
    font-size: 60px;
    text-transform: uppercase;  
}
#navpg{
    position: absolute;
    bottom: 15%;
    left: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 45%;
    /* background-color: violet; */
    /* font-family:sans-serif !important; */
    font-size: 11px;
    font-weight: 800;
    color: white;
}

#footer{
    height: 30px;
    width: 230px;
    /* background-color: violet; */
    display: flex;
    bottom: 20px;
    left: 6%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
}
#arrow{
    height: 50px;
    width: 100px;
    background-image: url(arrow.png);
    background-size: cover;
    position: absolute;
    right: 15%;
    bottom: 10%;
}